@font-face {
  font-family: Vazir-Medium;
  src: url(../fonts/Vazir-Medium.eot) format("eot"),
    url(../fonts/Vazir-Medium.woff) format("woff"),
    url(../fonts/Vazir-Medium.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir-Medium;
}
a {
  text-decoration: none;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar {
  min-height: 60px;
}
.right-side {
  margin-top: 10px;
}
.navbar .right-side i {
  padding: 0 15px;
  color: #5c636a;
  transition: color 0.5s ease;
  font-size: 17px;
}
.navbar .right-side i:hover {
  color: rgb(105, 105, 231);
}
.hero-header img {
  padding: 0;
  height: calc(100vh - 60px);
}
.hero-header p {
  top: 50%;
  color: #c7c6c6;
}
